[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Image associée
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjXzrTZwqfgAhXrDmMBHWGYBhUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.rts.ch%2Finfo%2Fculture%2Fcinema%2F9037138-les-fameuses-lignes-de-code-de-matrix-etaient-des-recettes-de-sushis.html&psig=AOvVaw3IDW9USGxiIbEo6454ZIev&ust=1549556681119850
Icon=text-html
